.App {
  min-block-size: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://www.sethserver.com/static/images/random-password-generator-og.png');
  background-size: cover;
  background-position: center;
}

.generator {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(245, 244, 244, 0.863);
  padding: 30px;
}
.generator__header {
  text-align: center;
  color:red;
  margin-block-end: 20px;
}

.generator__password {
  background-color: black;
  padding: 13px 10px;
  color: white;
  margin-block-end: 15px;
  block-size: 46px;
  display: flex;
  justify-content: space-between;
}

.copy__btn {
  color: #fff;
  background: #8d307c;
  border: none;
  cursor: pointer;
}

.generator__btn {
  background: #418d30;
  border: none;
  inline-size: 100%;
  margin-block-start: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;
}

.form-group {
  display: flex;
  justify-content: space-between;
  color:black;
  margin-block-end: 15px;
}
